.formDataContainer{
    width: 100%;
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 25px;
}

.formData{
    width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.contentInLine{
    height: 50px;
}

.inputName{
    color: grey;
    font-family: 'Rubik', sans-serif;
}

.inputForm{
    border-radius: 15px;
    width: 300px;
}

.botonFinalizarCompra{
    margin-top: 25px;
    border-radius: 8px;
    color: white;
    height: 50px;
}