.card{
    width: 22%;
    height: auto;
    margin: 11.5px;
    background-color: white;
    border: solid #FAD9D2 1px;
    border-radius: 5px;
}

.cardImage{
    width: 100%;
    height: auto;
}

.cardImage img{
    width: 100%;
    height: 100%;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    border-bottom: solid #FAD9D2 1px;
}

.cardDetails{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

h3{
    font-family: 'Bebas Neue', cursive;
    font-size: 40px;
    margin-top: 5px;
    margin-bottom: 5px;
}

h4{
    /* font-family: 'Rubik', sans-serif; */
    font-size: 25px;
    margin: 0%;
}